In [1]:
from functions import *

In [52]:
df = pd.read_csv('pre.txt', delimiter='\t')

In [4]:
df

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0000950170-23-032388,1,3,CP,0,H,AddressTypeDomain,dei/2022,Address Type [Domain],0
1,0000950170-23-032857,1,3,CP,0,H,AddressTypeDomain,dei/2022,Address Type [Domain],0
2,0000950170-23-033752,1,3,CP,0,H,AddressTypeDomain,dei/2022,Address Type [Domain],0
3,0000067088-23-000008,1,7,CP,0,H,AddressTypeDomain,dei/2022,Address Type [Domain],0
4,0000950170-23-034278,1,3,CP,0,H,AddressTypeDomain,dei/2022,Address Type,0
...,...,...,...,...,...,...,...,...,...,...
1262635,0001410578-23-002103,2,21,BS,0,H,ShortTermBankLoanAndCredit,0001410578-23-002103,Short-term bank loan and credit,0
1262636,0001410578-23-002103,5,55,CF,0,H,SignificantNonCashTransactionsAbstract,0001410578-23-002103,(b) Significant non-cash transactions:,0
1262637,0001410578-23-002103,3,8,IS,0,H,TransactionRelatedCosts,0001410578-23-002103,Transaction-related costs,0
1262638,0001410578-23-002103,1,5,CP,0,H,WarrantsMember,0001410578-23-002103,Warrants,0
1262639,0001410578-23-002103,5,47,CF,0,H,WorkingCapitalExcludingCashAndCashEquivalentsR...,0001410578-23-002103,Working capital (excluding cash and cash equiv...,0

In [20]:
len(df['tag'].unique())

5620

In [9]:
(df['version'].unique())

array(['dei/2022', 'us-gaap/2022', 'srt/2022', ...,
       '0001493152-23-034617', '0001596961-23-000039',
       '0001654954-23-012269'], dtype=object)

In [53]:
df = df[df['version']=='us-gaap/2023']

In [54]:
df['report'].unique()

array([  3,   2,   7,   5,   1,   4,  25,   8,   6, 114, 117, 115, 116,
        10,  12,  13,  11,   9,  21,  15,  14,  33,  27,  35,  24,  22,
        42,  17,  28,  44,  16,  18,  41,  43,  45,  46,  19,  20,  23,
        26,  29,  30,  31,  32,  34,  36,  37,  38,  39,  40, 118,  53,
        52,  49,  50,  60,  57,  58,  55,  54,  56,  59,  51,  48,  47,
        68,  67,  69,  70,  63, 128,  82, 125,  79,  71, 129,  83,  64,
       126,  80,  61, 127,  81,  62,  66, 130])

In [15]:
df['line'].unique()

array([  3,   9,   6,  15,   5,   7,  12,  17,  11,  10,  19,  13,   8,
        37,  32,  25,   2,  18,  34,  16,  36,  48,  31,  24,   1,  33,
         4,  44,  14,  56,  46,  45,  29,  30,  55,  22,  49,  61,  21,
        23,  58,  74,  53,  35,  38,  47,  28,  60,  20,  51,  59,  42,
        39,  43,  27,  26,  50,  40,  54,  52,  70,  41,  57, 105,  64,
        71,  78,  62,  87,  65,  73,  68,  83, 103,  63,  66,  84,  67,
        93,  95,  69,  80,  92,  82,  75,  79,  97, 114, 112,  77, 115,
       113, 101,  85,  98,  76,  81, 110,  72,  91,  90, 104,  86, 106,
        89,  88,  96,  94, 111,  99, 102, 108, 107, 100, 109, 117, 216,
       116, 142, 272, 175, 188, 289, 125, 353, 147, 202, 178, 363, 232,
       258, 134, 256, 130, 135, 137, 151, 138, 129, 136, 141, 251, 155,
       344, 127, 150, 234, 328, 329, 235, 131, 170, 132, 331, 343, 133,
       332, 120, 335, 160, 228, 148, 356, 357, 176, 143, 224, 118, 280,
       293, 169, 358, 354, 149, 277, 294, 145, 222, 225, 119, 279, 196,
       226, 144, 355, 364, 177, 278, 296, 219, 273, 291, 128, 220, 360,
       254, 179, 361, 204, 180, 255, 221, 159, 290, 276, 274, 295, 218,
       146, 359, 207, 173, 252, 217, 156, 194, 275, 292, 227, 122, 259,
       362, 181, 206, 253, 157, 124, 140, 172, 245, 191, 190, 171, 126,
       310, 314, 262, 162, 243, 121, 123, 174, 158, 186, 167, 267, 212,
       183, 139, 187, 195, 161, 249, 304, 316, 264, 166, 211, 265, 317,
       189, 266, 319, 192, 182, 301, 247, 248, 302, 152, 153, 257, 312,
       260, 313, 311, 163, 164, 263, 318, 315, 261, 168, 184, 185, 154,
       250, 303, 299, 165, 213, 215])

In [17]:
df['stmt'].unique()

array(['BS', 'CF', 'EQ', 'CP', 'UN', 'IS', 'CI', 'SI'], dtype=object)

In [18]:
df['inpth'].unique()

array([1, 0])

In [19]:
df['rfile'].unique()

array(['H'], dtype=object)

In [21]:
df['negating'].unique()

array([0, 1])

In [22]:
df.columns

Index(['adsh', 'report', 'line', 'stmt', 'inpth', 'rfile', 'tag', 'version',
       'plabel', 'negating'],
      dtype='object')

In [26]:
unique_combinations = df.groupby(['report', 'line','stmt','inpth','rfile','version','negating'])['tag'].agg(list).reset_index()

In [28]:
unique_combinations.to_csv('unique_tags.csv',mode='w',index=False)

In [29]:
unique_combinations = df.groupby(['report', 'line','stmt','inpth','rfile','version','negating'])['tag'].agg(list).reset_index()

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
47548,0001079973-23-000964,3,3,BS,1,H,ClassOfStockDomain,us-gaap/2023,ClassOfStockDomain,0
47549,0001079973-23-000964,2,3,BS,0,H,ClassOfStockDomain,us-gaap/2023,ClassOfStockDomain,0
47550,0001185185-23-000727,7,9,CF,0,H,ClassOfStockDomain,us-gaap/2023,Class of Stock [Domain],0
47551,0001185185-23-000727,3,6,BS,1,H,ClassOfStockDomain,us-gaap/2023,Class of Stock [Domain],0
47552,0001185185-23-000727,2,6,BS,0,H,ClassOfStockDomain,us-gaap/2023,Class of Stock [Domain],0
...,...,...,...,...,...,...,...,...,...,...
1197435,0001498547-23-000035,8,21,CF,0,H,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2023,Write-off of deferred financing costs,0
1197436,0001446687-23-000038,6,7,CF,0,H,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2023,Deferred loan cost write-off,0
1197437,0001660734-23-000071,4,20,IS,0,H,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2023,Debt termination expense,0
1197438,0001660734-23-000071,8,10,CF,0,H,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2023,Debt termination expense,0
1197439,0001794783-23-000099,7,17,CF,0,H,WriteOffOfDeferredDebtIssuanceCost,us-gaap/2023,Write-off of debt issuance costs,0

In [55]:
df[df['tag']=='ProfitLoss'].head(50)

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
120670,0000733076-23-000009,6,14,EQ,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120671,0000733076-23-000009,4,18,IS,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120672,0000777917-23-000050,6,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120673,0000777917-23-000050,5,15,EQ,0,H,ProfitLoss,us-gaap/2023,NET INCOME (LOSS),0
120674,0000777917-23-000050,4,21,IS,0,H,ProfitLoss,us-gaap/2023,NET INCOME (LOSS),0
120675,0000908311-23-000060,4,25,IS,0,H,ProfitLoss,us-gaap/2023,NET (LOSS) INCOME,0
120676,0000908311-23-000060,7,2,CF,0,H,ProfitLoss,us-gaap/2023,Net (loss) income,0
120677,0000908311-23-000060,5,39,EQ,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120678,0000016058-23-000086,7,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income,0
120679,0000105418-23-000033,8,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income,0
120680,0000733590-23-000015,7,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income,0
120681,0000864270-23-000009,7,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income,0
120682,0000864270-23-000009,6,11,EQ,0,H,ProfitLoss,us-gaap/2023,Net income,0
120683,0000864270-23-000009,5,1,CI,0,H,ProfitLoss,us-gaap/2023,Net income,0
120684,0000733590-23-000015,6,12,EQ,0,H,ProfitLoss,us-gaap/2023,Net income,0
120685,0000733590-23-000015,4,19,IS,0,H,ProfitLoss,us-gaap/2023,Net income,0
120686,0000844059-23-000032,7,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income,0
120687,0000844059-23-000032,8,22,EQ,0,H,ProfitLoss,us-gaap/2023,Net income,0
120688,0000844059-23-000032,4,19,IS,0,H,ProfitLoss,us-gaap/2023,Net income,0
120689,0000844059-23-000032,5,1,CI,0,H,ProfitLoss,us-gaap/2023,Net income,0
120690,0000883569-23-000030,4,14,IS,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120691,0000883569-23-000030,6,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120692,0000883569-23-000030,5,22,EQ,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120693,0000110471-23-000115,5,4,CF,0,H,ProfitLoss,us-gaap/2023,Net earnings,0
120694,0000110471-23-000115,2,15,IS,0,H,ProfitLoss,us-gaap/2023,Net earnings,0
120695,0000864270-23-000009,4,20,IS,0,H,ProfitLoss,us-gaap/2023,Net income,0
120696,0000881453-23-000038,6,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120697,0000881453-23-000038,5,14,EQ,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120698,0000100493-23-000089,7,2,CF,0,H,ProfitLoss,us-gaap/2023,Net Income (Loss),0
120699,0000100493-23-000089,3,1,CI,0,H,ProfitLoss,us-gaap/2023,Net Income (Loss),0
120700,0000100493-23-000089,2,21,IS,0,H,ProfitLoss,us-gaap/2023,Net Income (Loss),0
120701,0000939930-23-000061,7,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120702,0000921738-23-000025,4,26,IS,0,H,ProfitLoss,us-gaap/2023,Net income,0
120703,0000921738-23-000025,6,38,EQ,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120704,0000939930-23-000061,6,13,EQ,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120705,0000939930-23-000061,2,13,IS,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120706,0000921738-23-000025,7,3,CF,0,H,ProfitLoss,us-gaap/2023,Net income,0
120707,0000939930-23-000061,3,1,CI,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120708,0000949157-23-000065,2,23,IS,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120709,0000949157-23-000065,3,2,CI,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120710,0000910638-23-000021,4,21,IS,0,H,ProfitLoss,us-gaap/2023,Net (loss) income before redeemable non-contro...,0
120711,0000910638-23-000021,5,1,CI,0,H,ProfitLoss,us-gaap/2023,Net (loss) income before redeemable non-contro...,0
120712,0000910638-23-000021,6,2,CF,0,H,ProfitLoss,us-gaap/2023,Net (loss) income before redeemable non-contro...,0
120713,0000949157-23-000065,5,2,CF,0,H,ProfitLoss,us-gaap/2023,Net (loss) income,0
120714,0000949157-23-000065,6,17,EQ,0,H,ProfitLoss,us-gaap/2023,Net income (loss),0
120715,0000078003-23-000088,8,2,CF,0,H,ProfitLoss,us-gaap/2023,Net income before allocation to noncontrolling...,0
120716,0000078003-23-000088,2,14,IS,0,H,ProfitLoss,us-gaap/2023,Net income before allocation to noncontrolling...,0
120717,0000078003-23-000088,3,1,CI,0,H,ProfitLoss,us-gaap/2023,Net income before allocation to noncontrolling...,0
120718,0000078003-23-000088,6,16,EQ,0,H,ProfitLoss,us-gaap/2023,Net income,0
120719,0000921738-23-000025,5,1,CI,0,H,ProfitLoss,us-gaap/2023,Net income,0

In [46]:
df = pd.read_csv('tag.txt', delimiter='\t')

In [48]:
df['version'].unique()

array(['dei/2022', 'us-gaap/2022', 'srt/2022', ...,
       '0001070235-23-000131', '0000807863-23-000094',
       '0001596961-23-000039'], dtype=object)

In [50]:
df[df['version']=='us-gaap/2023']

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
3959,StatementClassOfStockAxis,us-gaap/2023,0,1,axis,NaN,NaN,Class of Stock [Axis],Information by the different classes of stock ...
3960,StatementTable,us-gaap/2023,0,1,NaN,NaN,NaN,Statement [Table],"Schedule reflecting a Statement of Income, Sta..."
3964,AccruedLiabilitiesCurrent,us-gaap/2023,0,0,monetary,I,C,"Accrued Liabilities, Current",Carrying value as of the balance sheet date of...
3965,AccruedProfessionalFeesCurrent,us-gaap/2023,0,0,monetary,I,C,Accrued professional fees,Carrying value as of the balance sheet date of...
3968,AccumulatedOtherComprehensiveIncomeMember,us-gaap/2023,0,1,member,NaN,NaN,AOCI Attributable to Parent [Member],Accumulated increase (decrease) in equity from...
...,...,...,...,...,...,...,...,...,...
94306,ValueAddedTaxReceivable,us-gaap/2023,0,0,monetary,I,D,Value Added Tax Receivable,Carrying amount as of the balance sheet date o...
94307,VariableInterestEntityOwnershipPercentage,us-gaap/2023,0,0,percent,D,NaN,"Variable Interest Entity, Qualitative or Quant...",Percentage of the Variable Interest Entity's (...
94308,VariableInterestEntityPrimaryBeneficiaryMember,us-gaap/2023,0,1,member,NaN,NaN,"Variable Interest Entity, Primary Beneficiary ...",Variable Interest Entities (VIE) in which the ...
94309,WarrantsAndRightsOutstanding,us-gaap/2023,0,0,monetary,I,C,Warrants and Rights Outstanding,Value of outstanding derivative securities tha...
94313,TransferredOverTimeMember,us-gaap/2023,0,1,member,NaN,NaN,Transferred over Time [Member],Contract with customer in which good or servic...

In [56]:
df = pd.read_csv('sraf.csv')

/var/folders/rg/tjzq_l195rgdqwr9j37d24n00000gn/T/ipykernel_27737/756250741.py:1: DtypeWarning: Columns (6,7,19,20,22,44,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sraf.csv')

In [58]:
df.columns

Index(['filing_firm_cik', 'filing_date', 'filer_cik', 'filer_count',
       'filing_agent_cik', 'filing_agent_tot', 'g_abs_asset_class_1',
       'g_abs_asset_class_2', 'g_acceptance_datetime', 'g_accession_number',
       'g_confirming_copy', 'g_conformed_period_of_report',
       'g_conformed_submission_type', 'g_date_as_of_change',
       'g_filed_as_of_date', 'g_public_document_count',
       'cd_company_conformed_name', 'cd_central_index_key',
       'cd_standard_industrial_classification', 'cd_organization_name',
       'cd_irs_number', 'cd_state_of_incorporation', 'cd_fiscal_year_end',
       'fv_form_type', 'fv_sec_act', 'fv_sec_file_number', 'fv_film_number',
       'ba_street_1', 'ba_street_2', 'ba_city', 'ba_state', 'ba_zip',
       'ba_business_phone', 'ma_street_1', 'ma_street_2', 'ma_city',
       'ma_state', 'ma_zip', 'fc_former_conformed_name_1',
       'fc_date_of_name_change_1', 'fc_former_conformed_name_2',
       'fc_date_of_name_change_2', 'fc_former_conformed_name_3',
       'fc_date_of_name_change_3', 'fc_former_conformed_name_4',
       'fc_date_of_name_change_4', 'fc_former_conformed_name_5',
       'fc_date_of_name_change_5'],
      dtype='object')